.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.translate-enter-active,
.translate-leave-active {
  transition: all 0.3s ease-in-out;
}

.translate-enter-from,
.translate-leave-to {
  transform: translateX(30px);
  opacity: 0;
}

